<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAT-3</title>
    <style>body{
             display: flex;
             flex-direction:column;
             margin:2px;
             background-color: lavender;
             }

             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:blueviolet;
             }
    </style>
</head>
<body>
    <center>
    <h1>Project Idea</h1>
       <div class="menu">

           <a href="/add">ADD STUDENT</a><br><br>
           <a href="/search">SEARCH STUDENT</a><br><br>
           <a href="/update">UPDATE STUDENT</a><br><br>
           <a href="/delete">DELETE STUDENT</a><br><br>
           <a href="/view">VIEW STUDENT</a>
       </div>
       </center>
</body>
</html>